body{
  font-family: 'Dancing Script';
  background-color: #02010a;
}
header{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  font-size: 1.3em;
}
footer{
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
}
#foot{
  width: 98%;
  margin: auto;
  font-size: 1.3em;
  display: flex;
  flex-flow: row wrap;
}
.contenedor{
  box-sizing: border-box;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  display: flex;
  flex-flow: row wrap;
  animation: miAnimacion 1s;
}
.titulo{
  margin-left: 3%;
}
.barra{
  text-align: center;
  padding-bottom: 2%;
}
.titulo, .barra {
	width: 100%;
  text-align: center;
}
.contactos, .terminos, .redes, .derechos {
	width: 100%;
  margin-left: 8%;
}

/*estilos para link*/
.active{
  text-decoration: none;
}
a:link, a:visited {
  margin-left: 2%;
	color: white;
}

li{
  list-style: none;
  margin-left: -40px;
}

.imagen-central{
  width: 100%;
  background-color: #82c3a6;
}

.imagen-secundario{
  width: 100%;
  background-color:  #d5c75f;
}

.secundario{
  display: flex;
  flex-flow: row wrap;
}

.central{
  padding-top: 5%;
  padding-bottom: 5%;
  max-width: 90%;
  margin: auto;
}

.imagen-paisajes, .imagen-retratos{
  padding-top: 5%;
  padding-bottom: 5%;
  max-width: 90%;
  margin: auto;
}

.central img, .secundario img{
  max-width: 100%;
}

@media (min-width: 900px) {
  .contenedorGeneral{
      width: 900px;
      margin: auto;
  }
	.titulo {
		width: 58%;
    text-align: left;
	}

	.barra {
		width: 35%;
    padding-top: 30px;
	}
  .contactos, .terminos, .redes, .derechos {
  	max-width: 23%;
    margin-left: 1%;
    margin-right: 1%;
  }
  #foot{
    font-size: 1.2em;
  }
  .imagen-paisajes, .imagen-retratos{
    max-width: 42.5%;
    margin: auto;
  }
}

.paisaje, .retrato{
  border: 1px solid;
}

.paisaje:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px 10px 0 #82c3a6;
  border-right: 2px solid;
}
.retrato:hover{
  transform: translate(20px,-5px);
  box-shadow: 2px 2px 10px 0 #82c3a6;
  border: 2px solid;
}

@-webkit-keyframes miAnimacion{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}
