body{
  font-family: 'Dancing Script';
  background-color: #02010a;
}
header{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
}
.contenedorGeneral{
    margin: 0 auto;
}
.contenedor{
  box-sizing: border-box;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  display: flex;
  flex-flow: row wrap;
  animation: miAnimacion 1s;
}
.titulo{
  margin-left: 3%;
}
.barra{
  text-align: center;
  padding-bottom: 2%;
}
.titulo, .barra {
	width: 100%;
  text-align: center;
}
.active{
  text-decoration: none;
}
a:link, a:visited {
  margin-left: 2%;
	color: white;
}

@media (min-width: 900px) {
  body{
    max-width: 900px;
  }
	.titulo {
		width: 58%;
    text-align: left;
	}

	.barra {
		width: 35%;
    padding-top: 30px;
	}
}

@-webkit-keyframes miAnimacion{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
margin-top: 0%;
  }
}
